<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875669636989-5l2jbmr2htvfkrgbp4d9c1jatnedsoo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875669636989-5l2jbmr2htvfkrgbp4d9c1jatnedsoo7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>875669636989-o4u5ajmrotru4avea7ooifrka4gkmmbv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcwvznF4gOt7Rcqh_H1ir3cHXdniD9LqI</string>
	<key>GCM_SENDER_ID</key>
	<string>875669636989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aeroday2021</string>
	<key>PROJECT_ID</key>
	<string>aeroday-2021</string>
	<key>STORAGE_BUCKET</key>
	<string>aeroday-2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875669636989:ios:f810fb3341bb5193176e14</string>
	<key>DATABASE_URL</key>
	<string>https://aeroday-2021-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>